.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
}

.Timer {
  font-size: 15em;
  margin: 20px;
  width: 50%;
}

button {
  font-size: 1em;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

/* button#start {
  background-color: green;
  color: white;
}

button#pause {
  background-color: orange;
  color: white;
} */

button#reset {
  background-color: red;
  color: white;
  border: 'none'
}

/* Media query for small screens */
@media (max-width: 600px) {
  .Timer {
    font-size: 5em;
  }

  button {
    font-size: 0.8em;
  }
}

/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
  .Timer {
    font-size: 10em;
  }

  button {
    font-size: 1em;
  }
}

/* Media query for large screens */
@media (min-width: 1025px) {
  .Timer {
    font-size: 15em;
  }

  button {
    font-size: 1.2em;
  }
}